
.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: row;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;  
    
    position:absolute;
    background-color: rgb(16, 14, 12); 
    padding: 20px 40px;

    @media (max-width: 1000px) {
        padding: 70px 30px;
    }
}

.footer-listitem{
    display: flex;
    flex-direction:column;
    text-align: left;
    margin-left: 60px; 
}

.footer-row{
    column-count: 3;
    column-span:all;
}



.footer-heading{
    font-size: 14px;
    color: rgb(10, 162, 127);
    margin-bottom: 40px;
    font-weight: bold;
}

.footer-link{
    color: rgb(30, 224, 133);
    margin-bottom: 0px;
    font-size: 15px;
    text-decoration: none;

}

.footer-link:hover{
    color: red;
    transition: 200ms ease-in;
}

footer{
    color: rgb(14, 230, 129);
}