

.contactus{
    display: flex;
}

form{


margin: 50px 0px 20px 620px ;

}

.heading{
    margin:100px 0px 0px 0px ;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}